<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
  <div class="logo">
    <a target="_blank" rel="noopener noreferrer" 
       href="https://appseed.us/admin-dashboards/django-dashboard-material" class="simple-text logo-normal">
      Django Material
    </a>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      {% if request.user.is_authenticated %}

        <li class="nav-item {% if 'index' in segment %} active {% endif %}">
          <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-item {% if 'cohorts' in segment %} active {% endif %}">
          <a class="nav-link" href="{% url 'cohorts' %}">
            <i class="material-icons">group</i>
            <p>Cohorts</p>
          </a>
        </li>

        <li class="nav-item {% if 'tithe' in segment %} active {% endif %}">
          <a class="nav-link" href="{% url 'tithe_offerings' %}">
            <i class="material-icons">favorite</i>
            <p>Tithe and Offerings</p>
          </a>
        </li>

        <li class="nav-item {% if 'events' in segment %} active {% endif %}">
          <a class="nav-link" href="{% url 'events_programs' %}">
            <i class="material-icons">event</i>
            <p>Events and Programs</p>
          </a>
        </li>

        <li class="nav-item {% if 'promotions' in segment %} active {% endif %}">
          <a class="nav-link" href="{% url 'promotions' %}">
            <i class="material-icons">campaign</i>
            <p>Promotions</p>
          </a>
        </li>

        <li class="nav-item {% if 'settings' in segment %} active {% endif %}">
          <a class="nav-link" href="{% url 'settings' %}">
            <i class="material-icons">settings</i>
            <p>Settings</p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="material-icons">directions_run</i>
            <p>Logout</p>
          </a>
        </li>

      {% endif %}
    </ul>
  </div>
</div>
